/*
Red: #DE243C     
Yellow: #E9B758  
White: #FEFAE2
Purple: #792060
*/

::selection {
  background: #792060;
}

::-moz-selection {
  background: #792060;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #de243c;
  padding-bottom: 100px;
}

div {
  font-family: "Ubuntu", sans-serif;
  color: #fefae2;
  opacity: 0.95;
  text-align: center;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 150px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: -14px;
  text-align: left;
}

.text1 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
}

.text2 {
  font-size: 18px;
  text-align: left;
}

.text3 {
  font-size: 18px;
  text-align: left;
  margin-top: -20px;
}
.text4 {
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
}

.text5 {
  font-size: 14px;
  text-align: left;
  margin-top: -30px;
}

caption {
  text-align: left;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  color: #fefae2;
  opacity: 0.95;
}

td {
  border-top: 1px solid rgba(254, 250, 226, 0.95);
}

th {
  padding-top: 0px;
}
